body {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  background: linear-gradient(to left, #606c88 , #3f4c6b);
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 400;
}

.demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  margin: 20px;
  border: 10px solid #9E9E9E;
  border-radius: 10px;
}

section:not(.vertical) {
  width: var(--width);
}

section header,
section footer {
  height: var(--height);
}

section.vertical {
  position: relative;
  display: flex;
  height: var(--height);
  width: calc(var(--width) * 3);
}

section.vertical header,
section.vertical footer {
  height: 100%;
  width: var(--width);
}

section header {
  background: var(--top-color);
}

section footer {
  background: var(--bottom-color);
}

.image.above section header,
.image.below section footer {
  height: calc(var(--height) * 2);
  background-image: url(image.jpg);
  background-size: cover;
  background-position: bottom;
}

.image.above section.vertical header,
.image.below section.vertical footer {
  height: 100%;
  width: calc(var(--width) * 2);
  background-position: bottom right;
}

.image section {
  position: relative;
}

.image .separator {
  position: absolute;
}

.image.above .separator {
  --top-color: transparent;
  margin-top: calc(var(--height) * -1);
}

.image.below .separator {
  --bottom-color: transparent;
}

.image .vertical .separator {
  margin-top: 0;
  margin-left: var(--width);
}

.vertical {
  --height: 300px;
  --width: 100px;
}
